@media only screen and (max-width: 1000px) {
   
    .weather {
        text-align: center;
        position: relative;
        top: 150px;
        left: 110px;
        border: solid 3px black;
        width: 58vw;
        height: 55vw;
        border-radius: 30px;
        background: rgba(193, 230, 92, 0.3);
        font-weight: bolder;
        padding: 11px;
        background-size: 294px 294px;
        color: black;
        font-family: 'Volkhov', serif;
    }
}
@media only screen and (max-width: 400px) {
   
    .weather {
        text-align: center;
        position: relative;
        top: 90px;
        left: 50px;
        border: solid 3px black;
        width: 70vw;
        height: 90vw;
        border-radius: 30px;
        background: rgba(193, 230, 92, 0.3);
        font-weight: bolder;
        padding: 14px;
        background-size: 294px 294px;
        color: black;
        font-family: 'Volkhov', serif;
    }
}